.page {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  background: inherit;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.mv-list-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.mv-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mv-element h3, p {
  font-size: 1.3rem;
  margin: 0;
}

.mv-element img {
  border-radius: 1.4rem;
  margin-top: 14px;
}



